body{
	margin: 0;
	padding: 0;
	font-family: 'PT Serif', serif;
}
.header{
	background-color: #31535f;
	border-bottom: 5px solid rgba(255, 165, 0, .9);
	box-shadow: 0px 0px 30px orange;
	overflow: hidden;
	z-index: 1;
	position: relative;
}
.wrapper{
	width: 95%;
	margin: 0px auto;
}
.nav{
	float: right;
}
.nav ul{
	list-style: none;
}
.nav ul li{
	float: left;
	display: inline-block;
	padding: 0px 40px 15px 20px;
}
.nav ul li a{
	text-decoration: none;
	color: white;
	padding: 6px;
	font-size: 18px;
}
.nav ul li a:hover{
	border-radius: 1px;
	color: #31535f;
	background-color: white;
	transition: 2s;
}


.banner{
	background-image: url(../images/bgimage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 720px;
	overflow: hidden;
}
.bgtext{
	line-height: 30%;
	opacity: 0.7;
	text-align: center;
}
.bgtext h1{
	padding-top: 230px;
	font-size: 60px;
	color: orange;
}
.yeltext{
	font-size: 21px;
	color: orange;
}
.ashtext
{
	font-size: 21px;
	color: gray;
}
.service{
	overflow: hidden;
	background-color: white;
	padding: 85px 0px 40px 0px;
}
.service1{
	border-top: 6px solid orange;
	border-bottom: 1px solid orange;
	border-left: 1px solid orange;
	border-right: 1px solid orange;
	border-radius: 8px;
	float: left;
	width: 20%;
	padding: 2px 16px 2px 16px;
	text-align: justify;
	text-justify: inter-word;
	font-size: 16px;
	margin: 0px 18px;
}
.service1 h3{
	border: 1px none; 
	background-color: #31535f;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 5px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}

.banner2{
	background-image: url(../images/landpagebottle.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	min-height: 720px;
	overflow: hidden;
	border-bottom: 5px solid rgba(255, 165, 0, .9);
}
.bgtext2{
	border: 10px solid orange;
	background-color: white;
	opacity: 0.7;
	width: 57%;
	margin: 135px 0px 0px 270px;
	padding: 12px 30px 30px 30px;
	border-radius: 8px;
}
.bgtext2 h3{
	color: orange;
	font-size: 28px;
}
.bgtext2 p{
	font-size: 18px;
}
.footer{
	line-height: 0%;
}
.icons{
	padding-top: 40px;
	padding-left: 575px;
}
.icons ul li{
	list-style: none;
	display: inline-block;
	padding: 5px 5px 0px 5px;
	font-size: 25px;
	color: orange;
	cursor: pointer;
}
.icons ul li a{
	text-decoration: none;
	color: orange;
}
.copyright p{
	text-align: center;
	padding-bottom: 20px;
}
.orange{
	color: orange;
}
